/* stylelint-disable plugin/selector-bem-pattern */
@use 'node_modules/@tarekraafat/autocomplete.js/dist/css/autoComplete.02.css';
@use '../../../../01_settings/colors' as *;
@use '../../../../02_tools/breakpoints' as *;
@use 'sass:color';

.autoComplete_wrapper {
  width: 100%;
  flex-basis: calc(80% - 0.5rem);
  color: inherit;

  & > input {
    width: 100%;
    height: auto;
    border: none;
    color: inherit;
  }

  & > ul {
    z-index: 1;
    top: calc(100% + 0.2rem);
    right: auto;
    right: -0.3rem;
    left: -2.2rem;
    max-height: none;
    border-radius: 0.8rem;
    overflow-y: hidden;

    li {
      padding: 0;
      white-space: inherit;
      &:last-of-type {
        .product-search-card {
          border-bottom: none;
        }
      }
      mark {
        color: color.adjust($color-aqua-blue, $lightness: -20%);
      }
    }
  }

  .no_result {
    padding: 0;
    color: color.adjust($color-gray, $lightness: 10%);
  }
}
