@use '../../../02_tools/mixins' as *;
@use '../../../01_settings/colors' as *;
@use '../../../02_tools/breakpoints' as *;
.certificates {
  &__heading {
    margin: 3rem;
    margin-top: 1rem;
    @include tablet {
      margin: 2rem;
      margin-bottom: 4rem;
    }
  }

  &__grid {
    margin: 3.5rem;
    margin-top: 0;

    @include grid(1, 1.5rem);
    @include phone {
      margin: 0 1rem 4rem 1rem;

      row-gap: 3rem;
      @include flex-columns(2, 1rem, 2rem);
    }

    @include tablet {
      @include flex-columns(3, 1rem, 2rem);
    }
    @include desktop {
      @include flex-columns(3, 3rem, 3rem);
      margin: 5rem;
    }
  }
}
