@use '../../../02_tools/mixins' as *;
@use '../../../01_settings/colors' as *;
@use '../../../02_tools/breakpoints' as *;
.certificates {
  &__heading {
    margin: 3rem;
    margin-top: 1rem;
    @include tablet {
      margin: 2rem;
      margin-bottom: 4rem;
      font-size: 6rem;
    }
  }

  &__grid {
    max-width: 90%;
    margin: 2rem;
    @include grid(1, 1.5rem);
    @include fold {
      @include flex-columns(2, 2rem, 4rem);
    }
    @include tablet {
      padding: 2rem 2rem 0 2rem;
      margin: 5rem;
      row-gap: 3rem;
    }
    @include desktop {
      @include flex-columns(3, 3rem, 2rem);
    }
  }
}
