@use 'sass:color';
@use '../../../../01_settings/global' as *;
@use '../../../../01_settings/colors' as *;
@use '../../../../02_tools/breakpoints' as *;

.carousel {
  width: 100%;
  &__wrapper {
    position: sticky;
    top: calc(var(--header-height) + 0.625rem);
  }

  &__counter {
    position: absolute;
    z-index: 2;
    top: 6%;
    left: 5%;
    padding: 0.375rem 0.5rem;
    border-radius: 0.625rem;
    background-color: $color-white;
    color: $color-gray-80;
    font-size: 0.88rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
  }

  &__active-element {
    display: none;
    width: 100%;
    margin-bottom: $spacing-md;
    aspect-ratio: 5 / 3;
    @include desktop() {
      display: block;
    }
  }

  &__video-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__main-img,
  &__main-video-container,
  &__main-video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  .plyr {
    width: 100%;
    height: 100%;
  }

  @include desktop() {
    position: sticky;
    top: $navbar-desktop-height + $spacing-md;
  }
}
