@use 'sass:color';
@use '../../../../01_settings/global' as *;
@use '../../../../01_settings/colors' as *;
@use '../../../../02_tools/breakpoints' as *;

.carousel {
  width: 100%;
  margin: 0;

  &__img-container {
    display: none;
    overflow: hidden;
    width: 100%;
    border: 0.0625rem solid $color-aqua-blue;
    margin: 0 auto;
    transition: height 300ms ease;

    @include phoneXL() {
      height: 35rem;
    }

    @include device(37.5rem) {
      height: 40rem;
    }

    @include tablet() {
      width: 90%;
    }

    @include desktop() {
      display: flex;
      max-height: 30rem;
    }

    @include desktopXL() {
      max-height: 35rem;
    }

    @include desktopXXL() {
      max-height: 100%;
    }
  }

  &__main-img {
    width: 100%;
    object-fit: cover;
  }

  @include tablet() {
    width: 100%;
  }

  @include desktop() {
    width: 50%;
  }

  @include desktopXXL() {
    max-width: 75rem;
  }
}
