@use '../../../../01_settings/global' as *;

.drift-zoom-pane {
  max-height: 50vh;
  backdrop-filter: blur(0.125rem);
  background: rgba(0, 0, 0, 0.5);

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  img {
    object-fit: contain;
  }
}
