@use '../../../../01_settings/global' as *;
@use '../../../../02_tools/breakpoints' as *;

.drift-zoom-pane {
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
