@use 'sass:color';
@use '../../../../01_settings/global' as *;
@use '../../../../01_settings/colors' as *;
@use '../../../../02_tools/breakpoints' as *;

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: $spacing-md 0;

  &__track {
    overflow: hidden;
  }

  &__slides {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    backface-visibility: hidden;
    list-style: none;
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    touch-action: pan-Y;
    transform-style: preserve-3d;
    white-space: nowrap;
    will-change: transform;

    &--dragging {
      user-select: none;
    }
  }

  &__slide {
    display: flex;
    width: 100%;
    max-height: 27rem;
    flex-shrink: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    white-space: normal;

    &:hover {
      /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
      cursor: grab;
    }
  }

  &__slide-media {
    margin: 0 auto;
    object-fit: contain;
  }

  &__arrow {
    position: absolute;
    z-index: 2;
    top: 50%;
    display: none;
    padding: 0.1875rem 0.1875rem 0.125rem;
    border: none;
    border-radius: 25%;
    background-color: transparent;
    color: $color-white;
    cursor: pointer;
    // fill: color.adjust($color-white, $lightness: -15%);
    line-height: 1;
    opacity: 1;
    // text-shadow: 0 0.25em 0.5em rgba($color-black, 0.1);
    text-transform: uppercase;
    transform: translateY(-50%);
    transition:
      opacity 150ms ease,
      border 300ms ease-in-out,
      fill 300ms ease;

    &--left {
      left: $spacing-sm;
    }

    &--right {
      right: $spacing-sm;
    }

    &:hover {
      border-color: $color-white;
      fill: $color-white;
    }
  }

  &__bullets {
    position: absolute;
    z-index: 2;
    bottom: 3rem;
    left: 50%;
    display: inline-flex;
    list-style: none;
    transform: translateX(-50%);
    user-select: none;
  }

  &__bullet {
    width: 0.5625rem;
    height: 0.5625rem;
    padding: 0;
    border: 0.125rem solid transparent;
    border-radius: 50%;
    margin: 0 0.15625rem;
    background-color: color.adjust($color-gray, $lightness: 10%);
    cursor: pointer;
    line-height: 0;
    transition: all 300ms ease-in-out;

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus,
    &--active {
      background-color: $color-aqua-blue;
      box-shadow: rgba($color-gray, 0.5) 0 0 0.34375rem 0.1375rem;
    }
  }

  &--dragging {
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    cursor: grabbing;
  }

  @include fold() {
    &__track {
      max-height: 20rem;
    }

    &__slide {
      max-height: 20rem;
    }
  }

  @include phone() {
    &__track {
      max-height: 25rem;
    }

    &__slide {
      max-height: 25rem;
    }
  }

  @include desktop() {
    width: 90%;
    margin: 0 auto;

    &__track {
      max-height: 7rem;
    }

    &__slide {
      max-height: 7rem;
      border: 0.0625rem solid $color-aqua-blue;
    }

    &__slide-media {
      object-fit: cover;
    }

    &__arrow {
      display: block;
    }

    &__bullets {
      bottom: -10%;
    }

    &__bullet {
      width: 0.6rem;
      height: 0.6rem;
    }
  }

  @include desktopXXL {
    &__track {
      max-height: 12rem;
    }

    &__slide {
      max-height: 12rem;
      border: 0.0625rem solid $color-aqua-blue;
    }

    &__arrow {
      display: block;
    }

    &__bullets {
      bottom: -15%;
    }

    &__bullet {
      width: 1rem;
      height: 1rem;
    }
  }
}
