@use 'sass:color';
@use '../../../../01_settings/global' as *;
@use '../../../../01_settings/colors' as *;

.magnify-wrapper {
  position: relative;

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  img {
    max-height: inherit;
    background-size: cover;
  }

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  #large-img {
    position: absolute;
    z-index: 1;
    display: block;
    width: 30rem;
    height: 20rem;
    border: 0.125rem solid color.adjust($color-white, $lightness: -1%);
    background: no-repeat $color-white;
    box-shadow: 0 0.3125rem 0.625rem -0.125rem rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms;
  }

  &:hover,
  &:active {
    #large-img {
      opacity: 1;
    }
  }

  &:hover {
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    cursor: none;
  }
}
