@use 'base/variables' as v;
@use 'base/mixins' as m;

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
    padding: 3rem;
    border-radius: 1.25rem;
    background-color: v.$white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: v.$black;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: -88rem;
        left: 50%;
        translate: -50% 0;
        width: 100rem;
        height: 100rem;
        border-radius: 50%;
        background-color: v.$bright-blue;
    
        @include m.tablet {
            width: 150rem;
        }
    }
    &__icon {
        z-index: 10;
        margin: 0 auto;
    }
    &__legend {
        margin-top: 5rem;
        margin-bottom: 1.5rem;
        text-align: center;
        text-transform: capitalize;
        font-family: v.$primary-font;
        @include m.fluid-text(3rem, 4rem);
    }
    &__field {
        display: flex;
        flex-direction: column;
        gap: .8rem;
    }
    &__label {
        margin-left: 1rem;
        @include m.fluid-text(1.7rem, 2rem);
    }
    &__input,
    &__textarea {
        background: transparent;
        border: .2rem solid darken(v.$light-gray, 5%);
        padding: 1.5rem;
        color: v.$black;
        transition: border-color 200ms;
        resize: none;

        &:focus {
            border-color: v.$bright-blue;
            outline: none;
        }
        &::placeholder {
            color: v.$gray;
        }
    }
    &__input {
        border-radius: 2.8rem;
    }
    &__textarea {
        border-radius: 1.5rem;
    }
    &__error {
        line-height: 0;
        margin-left: 1rem;
        font-size: 1.7rem;
        font-weight: 700;
        color: v.$error;
    }
    &__submit {
        @include m.btn(v.$white, v.$bright-blue, v.$white, v.$aqua-blue);
        margin-top: 2rem;
        
        @include m.tablet {
            width: 40rem;
            margin: 0 auto;
        }
    }
}

.swal2 {
    &-popup {
        zoom: 150%;
    }
    &-html-container {
        zoom: 1.3;
    }
}