{
  "extends": ["stylelint-config-recommended-scss", "stylelint-config-idiomatic-order"],
  "plugins": [
    "stylelint-scss",
    "stylelint-order",
    "stylelint-no-unsupported-browser-features",
    "stylelint-rem-over-px",
    "stylelint-itcss",
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "plugin/no-unsupported-browser-features": [
      true,
      {
        "severity": "warning",
        "ignore": ["css-nesting", "css-when-else", "css-resize"]
      }
    ],
    "plugin/selector-bem-pattern": {
      "preset": "bem",
      "componentName": "[A-Za-z0-9-]+|INDEX",
      "componentSelectors": {
        "initial": "^\\.{componentName}(?:__[a-z0-9-]+)?(?:--[a-z0-9-]+)?$",
        "combined": "^\\.{componentName}(?:__[a-z0-9-]+)?(?:--[a-z0-9-]+)?$"
      },
      "ignoreSelectors": [".*\\.no-BEM-.*"],
      "implicitComponents": [
        "src/public/sass/ITCSS/05_objects/**/*.scss",
        "src/public/sass/ITCSS/06_components/**/*.scss"
      ]
    },
    "scss/at-rule-no-unknown": true,
    "at-rule-no-unknown": null,
    "selector-class-pattern": null
  }
}
