{
  "extends": ["stylelint-config-recommended-scss", "stylelint-config-idiomatic-order"],
  "plugins": ["stylelint-order", "stylelint-no-unsupported-browser-features"],
  "rules": {
    "plugin/no-unsupported-browser-features": [
      true,
      {
        "severity": "warning",
        "ignore": ["css-nesting"]
      }
    ]
  }
}
