@use 'base/variables' as v;
@use 'base/mixins' as m;

.header-mobile {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    height: v.$mobile-height;
    top: 0;
    z-index: 100;
    background-color: #FFF;
    box-shadow: 0px 4px 15px 0px v.$gray;   
    transition: box-shadow 500ms ease-in-out;

    &__background {
        opacity: 0;
        height: 0;
        transition: opacity 500ms ease-in-out;
   
        &.show {
            opacity: 1;
            height: 100vh;
            display: block;
            position: fixed;
            width: 100%;
            top: v.$mobile-height; 
            left: 0;
            background-color: rgb(0 0 0 / 0.90);
            z-index: 2;
            backdrop-filter: blur(3px);
        }

        &.hide {
            opacity: 0;
        }
    }

    &.no-shadow {
        box-shadow: 0px 0px 0px 0px;   
    }

    @include m.tablet{
        display: none;
    }
}