@use 'base/variables' as v;
@use 'base/mixins' as m;

.header-mobile {
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include m.tablet{
        display: none;
    }

    &__menu {
        width: 4rem;

        &:hover{
            cursor: pointer;
        }
    }
}