@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar {
    opacity: 0;
    height: 0;
    transition-property: opacity;
    transition-duration: 500ms;
    overflow: hidden;

    &.show {
        padding: 2rem;
        opacity: 1;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgb(0 0 0 / 0.90);
    }

    &.hide {
        opacity: 0;
    }

    @include m.tablet{
        display: none;
    }

    &__header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        h2 {
            color: v.$white;
            margin: 0;
            text-align: center;
        }     
    }

    &__close {
        display: flex;
        justify-content: center;
        height: 4rem;
        width: 4rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.navigation-mobile {
    margin-top: 5rem;

    &__link {
        display: block;
        color: v.$white;
        margin-bottom: 2rem;
        padding: 0.7rem;
        transition-property: background-color;
        transition-duration: 300ms;
        font-weight: bold;
        font-size: 2.4rem;
        text-align: center;

        &:hover,
        &.active {
            background-color: darken(v.$bright-blue, 20%);
            border-radius: 0.5rem;
        }
    }
}