@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar {
    opacity: 0;
    height: 0;
    transition: opacity 500ms ease-in-out;
    overflow: hidden;

    &.show {
        padding: 10rem 2rem 2rem 2rem;
        opacity: 1;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0 0 0 / 0.90);
        z-index: 2;
    }

    &.hide {
      opacity: 0;
    }

    @include m.tablet{
        display: none;
    }

    &__header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        h2 {
            color: v.$white;
            margin: 0;
            text-align: center;
        }     
    }
}

.navigation-mobile {  

  &__link {
    display: block;
    color: v.$white;
    margin-bottom: 2rem;
    padding: 0.7rem;
    transition-property: background-color;
    transition-duration: 300ms;
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;

      &:hover,
      &.active {
          background-color: darken(v.$bright-blue, 20%);
          border-radius: 0.5rem;
      }
  }
}