@use 'sass:color';
@use '../../../01_settings/global' as *;
@use '../../../01_settings/colors' as *;
@use '../../../01_settings/fonts' as *;
@use '../../../02_tools/breakpoints' as *;
@use '../../../02_tools/mixins' as *;

.category {
  &__grid {
    max-width: 90%;
    margin: 1.2rem auto 2rem auto;
    @include grid(2, 0.9375rem);
    @include phone {
      @include flex-columns(3, 1rem, 1rem);
    }
    @include desktop {
      margin-top: 1.4rem;
      @include flex-columns(4, 1.25rem, 1.5625rem);
    }
    @include desktopXL {
      @include flex-columns(5, 1.25rem, 1.5625rem);
    }
    @include desktop() {
      margin-right: 3.44125rem;
    }

    &--list {
      @include flex-columns(1, 1.25rem, 1.5625rem);
    }
  }

  &__heading {
    margin: 0;
    color: $color-white;
    font-size: 3.75rem;
    font-weight: $weight-boldest;
    text-align: center;
  }

  @include desktop() {
    display: flex;
    gap: 3.44125rem;
  }
}
