@use 'sass:color';
@use '../../../01_settings/global' as *;
@use '../../../01_settings/colors' as *;
@use '../../../01_settings/fonts' as *;
@use '../../../02_tools/breakpoints' as *;
@use '../../../02_tools/mixins' as *;

.search {
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 2rem 0;

  &__bar {
    padding: 0.2rem 0.4rem;
    border: 1px solid $brand-color-secondary;
    border-radius: 1rem;

    @include desktop() {
      padding: 0.4375rem 0.8rem;
      font-size: 1rem;
    }
  }

  &__displays {
    display: none;

    @include tablet() {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  &__display-icon {
    fill: $brand-color-secondary;
    transition: fill 300ms ease;
  }

  &__display {
    padding: 0.1rem 0.8rem;
    border: 1px solid $brand-color-secondary;
    transition: background-color 300ms ease;

    &--grid {
      border-right: none;
      border-bottom-left-radius: 1rem;
      border-top-left-radius: 1rem;
    }

    &--list {
      border-bottom-right-radius: 1rem;
      border-top-right-radius: 1rem;
    }

    &--active {
      background-color: $brand-color-secondary;
      .search__display-icon {
        fill: $color-white;
      }

      &:hover {
        background-color: $brand-color-secondary;
      }
    }

    &:hover {
      background-color: color.adjust($brand-color-secondary, $lightness: 40%);
      cursor: pointer;

      .search__display-icon {
        fill: $color-white;
      }
    }

    @include desktop {
      padding: 0.25rem 0.8rem;
    }
  }

  &__filters {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;

    @include tablet() {
      margin-top: 0;
    }
  }

  &__sorting {
    padding: 0.2rem 0.4rem;
    border: 1px solid $brand-color-secondary;
    border-radius: 1rem;
    color: $brand-color-secondary;
    font-size: 0.8rem;

    @include desktop() {
      padding: 0.4375rem 0.8rem;
      font-size: 0.8rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__filter-button {
    display: block;
    @include tablet {
      display: none;
    }
  }

  @include tablet() {
    width: 95%;
    flex-direction: row;
    gap: 1rem;
  }
}
