@use '../01_settings/global' as *;
@use '../01_settings/colors' as *;
/* ==========================================================================
   #FIGURES
   ========================================================================== */

figure {
  figcaption {
    display: block;
    margin-top: $base-spacing-unit-small;
    color: $color-gray-50;
    font-size: 0.875rem;
  }
}
