@use '../01_settings/global' as *;
@use '../01_settings/fonts' as *;
/* ==========================================================================
   #FORMS
   ========================================================================== */

/* Label */

label {
  display: inline-block;
  margin-bottom: $spacing-xs;
  font-weight: $weight-bold;

  /* Checkbox or Radio Button */

  [type='checkbox'],
  [type='radio'] {
    margin-right: $spacing-xs;
  }
}

/* Legend */

legend {
  font-weight: $weight-bold;
}
