@use '../01_settings/global' as *;
/* ==========================================================================
   #LISTS
   ========================================================================== */

dd,
ol,
ul {
  margin-left: $spacing-lg;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
