@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    background-color: #C7D9E7;
    margin-top: 2rem;
    box-shadow: 0px 0px 20px v.$gray;
    padding-bottom: 1rem;

    @include m.tablet{
        padding: 2rem 0;
    }

    &__grid {
        @include m.grid(3, 2rem);
    }

    &__advice-container {
        grid-column: 1 / 2;
        display: flex;
        align-items: flex-end;
        margin-top: 1.2rem;
        text-align: center;
    }

    @include m.tablet{
        &__advice-container {
            margin-top: 0;
        }
    }

    &__advice {
        font-size: 1rem;
        text-align: center;
        padding-left: 2rem;
        text-decoration: underline;
        color: darken(v.$bright-blue, 15%);
        transition: 300ms color ease-in-out;

        @include m.tablet{
            margin: 0;
            font-size: 1.6rem;
            padding-bottom: .5rem;
        }

        &:hover {
            color: v.$aqua-blue;
        }
    }
}

.network {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;

    @include m.tablet{
        gap: 2rem;
        margin: 0;
    }

    &__link {
        background-color: darken(v.$bright-blue, 15%);
        border-radius: 50%;
        transition: 300ms background-color ease-in-out;
        height: 2.5rem;
        padding: .6rem .7rem 0 .7rem;

        @include m.phone{
            padding: .8rem 1rem 2.5rem 1rem;
            height: 3.5rem;
        }

        @include m.tablet{
            padding: 1rem 1rem 2.5rem 1rem;
            height: 4.5rem;
        }

        &:nth-child(1){
            padding: .4rem .4rem .2rem .4rem;
        }

        @include m.phone{
            &:nth-child(1){
                padding: .625rem .6rem 0 .7rem;
            }  
        }

        @include m.tablet{
            &:nth-child(1){
                padding: .7rem .8rem 0 .7rem;
            }
        }

        &:nth-child(4){
            padding: .2rem .2rem 0 .25rem;
        }

        @include m.phone{
            &:nth-child(4){
                padding: .2rem .2rem 0 .2rem;
            }
        }

        @include m.tablet{
            &:nth-child(4){
                padding: .2rem .4rem 0 .4rem;
            }
        }

        &:hover {
            background-color: v.$aqua-blue;
        }

                
        &::before {
            content: '';
            display: block;
            background-size: cover;
            margin: 0;
            height: 1.2rem;
            width: 1.2rem;

            @include m.phone{
                height: 1.8rem;
                width: 1.8rem;
            }

            @include m.tablet {
                margin: 0;
                height: 2.5rem;
                width: 2.5rem;
            }
        }

        &:nth-child(1){
            &::before {
                content: '';
                display: block;
                background-size: cover;
                margin: 0;
                height: 1.7rem;
                width: 1.8rem;
            }
        }

        @include m.phone{
            &:nth-child(1){
                &::before {
                    content: '';
                    display: block;
                    background-size: cover;
                    margin: 0;
                    height: 2rem;
                    width: 2.2rem;
                }
            }
        }

        @include m.tablet{
            &:nth-child(1){
                &::before {
                    content: '';
                    display: block;
                    background-size: cover;
                    margin: 0;
                    height: 3rem;
                    width: 3rem;
                }
            }
        }

        &:nth-child(4){
            &::before {
                content: '';
                display: block;
                background-size: cover;
                margin: 0;
                height: 2rem;
                width: 2rem;
            }
        }

        @include m.phone{
            &:nth-child(4){
                &::before {
                    content: '';
                    display: block;
                    background-size: cover;
                    margin: 0;
                    height: 3rem;
                    width: 3rem;
                }
            }
        }

        @include m.tablet{
            &:nth-child(4){
                &::before {
                    content: '';
                    display: block;
                    background-size: cover;
                    margin: 0;
                    height: 4rem;
                    width: 4rem;
                }
            }
        }

        &[href*="facebook.com"]::before {
            background-image: url(/assets/images/facebook-icon.svg);
        }

        &[href*="instagram.com"]::before {
            background-image: url(/assets/images/instagram-icon.svg);
            background-size: cover;
        }

        &[href*="youtube.com"]::before {
            background-image: url(/assets/images/youtube-icon.svg);
            background-size: cover;
        }

        &[href*="twitter.com"]::before {
            background-image: url(/assets/images/twitter-icon.svg);
            background-size: cover;
        }

        &[href*="linkedin.com"]::before {
            background-image: url(/assets/images/linkedin-icon.svg);
            background-size: cover;
        }
    }
    
    &__accessible {
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
        display: block;
    }
}