@use '../01_settings/global' as *;
/* ==========================================================================
   #SHARED
   ========================================================================== */

address,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
ol,
ul,
figure,
hr,
table {
  margin-bottom: $spacing-lg;
}

fieldset,
legend {
  margin-bottom: $spacing-sm;
}

caption,
th {
  text-align: left;
}

th,
td {
  padding: $spacing-sm $spacing-lg;
}
