@use 'base/variables' as v;
@use 'base/mixins' as m;

.equipments {
    text-align: center;

    &__heading {
        margin-top: 2rem;
        @include m.heading;

        @include m.tablet{
            font-size: 6rem;
        }
    }

    &__video {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
    }

    &__content {
        position: relative;
        overflow: hidden;
        margin: -1rem 0 4rem 0;
        @include m.phoneXL{
            margin: 0 0 7rem 0;
        }
    }

    &__grid {
        padding: 3rem;
        @include m.grid(1, 1.5rem);
        @include m.phoneXL{
            @include m.grid(2, 4rem 2rem);
            padding: 7rem 4rem;
        }
        @include m.tablet{
            padding: 6rem 5rem;
            row-gap: 3rem;
        }
        @include m.desktop {
            padding: 4rem 5rem;
            @include m.flex-columns(3, 2rem, 4rem);
            
        }
    }
}



.equipment {
    border: 2px solid v.$white;
    transition: backdrop-filter 200ms ease-in-out, border ease 500ms;
    padding: .75rem;
    height: auto;

    &--center {
        grid-column: 2 / 3;
    }
    
    &__icon {
        height: 6rem;
        margin: 0 auto;

        @include m.phoneXL{
            height: 10rem;   
            width: 12rem;
        }

        @include m.tablet{
            height: 11rem;   
        }

        @include m.desktop{
            height: 60%;
            width: 35%;
        }

        @include m.desktopXL{
            height: 60%;
            width: 35%;
        }
    }

    @include m.phoneXL{
        padding: 2rem;
        // height: 21rem;
    }

    &__name,
    &__text {
        color: v.$white;
    }

    &__name {
        margin-bottom: 0;
        @include m.fluid-text(1.5rem, 2.5rem);
        font-weight: 500;
    }

    &__text {
        transition: opacity 300ms ease-in-out;
        margin: -1rem 0 0 0;
        @include m.fluid-text(1.2rem, 1.8rem);
        font-weight: 200;
    }

    &__icon,
    &__name {
        transition: transform 300ms ease-in-out;
    }

    &:hover {
        border: 2px solid transparent;
        backdrop-filter: blur(50px) hue-rotate(15deg) saturate(1.8);
        .equipment__icon {
            transform: translateY(.8rem) scale(1.2);
        }

        .equipment__name {
            transform: translateY(1.1rem);
        }

        .equipment__text {
            opacity: 0;
        }
        cursor: pointer;
    }
}