/* ==========================================================================
   #COLORS
   ========================================================================== */

/* #BACKGROUND
   ========================================================================== */

/* Brand */

.u-bg-color-brand-dark {
  background-color: $color-brand-dark !important;
}
.u-bg-color-brand {
  background-color: $color-brand !important;
}
.u-bg-color-brand-light {
  background-color: $color-brand-light !important;
}
.u-bg-color-brand-secondary-dark {
  background-color: $color-brand-secondary-dark !important;
}
.u-bg-color-brand-secondary {
  background-color: $color-brand-secondary !important;
}
.u-bg-color-brand-secondary-light {
  background-color: $color-brand-secondary-light !important;
}

/* Neutral */

.u-bg-color-black {
  background-color: $color-black !important;
}
.u-bg-color-gray-90 {
  background-color: $color-gray-90 !important;
}
.u-bg-color-gray-80 {
  background-color: $color-gray-80 !important;
}
.u-bg-color-gray-50 {
  background-color: $color-gray-50 !important;
}
.u-bg-color-gray-20 {
  background-color: $color-gray-20 !important;
}
.u-bg-color-gray-10 {
  background-color: $color-gray-10 !important;
}
.u-bg-color-gray-05 {
  background-color: $color-gray-05 !important;
}
.u-bg-color-white {
  background-color: $color-white !important;
}

/* #FOREGROUND
   ========================================================================== */

/* Brand */

.u-color-brand-dark {
  color: $color-brand-dark !important;
}
.u-color-brand {
  color: $color-brand !important;
}
.u-color-brand-light {
  color: $color-brand-light !important;
}
.u-color-brand-secondary-dark {
  color: $color-brand-secondary-dark !important;
}
.u-color-brand-secondary {
  color: $color-brand-secondary !important;
}
.u-color-brand-secondary-light {
  color: $color-brand-secondary-light !important;
}

/* Neutral */

.u-color-black {
  color: $color-black !important;
}
.u-color-gray-90 {
  color: $color-gray-90 !important;
}
.u-color-gray-80 {
  color: $color-gray-80 !important;
}
.u-color-gray-50 {
  color: $color-gray-50 !important;
}
.u-color-gray-20 {
  color: $color-gray-20 !important;
}
.u-color-gray-10 {
  color: $color-gray-10 !important;
}
.u-color-gray-05 {
  color: $color-gray-05 !important;
}
.u-color-white {
  color: $color-white !important;
}
