@use 'sass:color';
@use '../../../01_settings/global' as *;
@use '../../../01_settings/fonts' as *;
@use '../../../01_settings/colors' as *;
@use '../../../02_tools/breakpoints' as *;
@use '../../../02_tools/mixins' as *;

.details {
  position: relative;
  width: 90%;
  max-width: 90rem;
  margin: 3vh auto;
  transition: height 300ms ease;

  &__grid {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: $spacing-md;
  }

  &__info {
    color: color.adjust($color-gray-60, $lightness: 5%);
  }

  &__heading {
    display: none;
    margin: 0;
    @include fluid-text(1.6rem, 2.4rem, 5vw);
    font-weight: $weight-bolder;
    line-height: 1;
    text-transform: capitalize;

    &--mobile {
      display: block;
      color: color.adjust($color-gray-60, $lightness: 5%);
    }

    &--desktop {
      display: none;
    }
  }

  &__data-container {
    margin-top: $spacing-md;
  }

  &__data {
    margin: 0;
    font-size: 0.8rem;
    line-height: $base-line-height;

    &--title {
      margin: 0;
      font-weight: $weight-bold;
    }
  }

  &__btn {
    @include btn(
      $color-white,
      color.adjust($color-green-blue, $lightness: 12%),
      $color-white,
      $color-bright-blue
    );
    display: block;
    padding: 0.6rem 1rem;
    border-radius: 0.625rem;
    margin: $spacing-md 0 0 0;
    font-size: 0.75rem;
    font-weight: $weight-light;
    text-decoration: none;
    text-transform: capitalize;
  }

  @include tablet() {
    &__data {
      font-size: 1.2rem;
      line-height: $base-line-height;
    }

    &__btn {
      font-size: 1.2rem;
    }
  }

  @include desktop() {
    &__heading {
      &--mobile {
        display: none;
      }

      &--desktop {
        display: block;
      }
    }

    &__info {
      position: relative;
    }

    &__data {
      font-size: 0.9rem;
      line-height: $base-line-height;
    }

    &__grid {
      display: grid;
      gap: 4.5rem;
      grid-template-columns: calc(50% - 4.5rem) 1fr;
    }

    &__btn {
      margin: $spacing-md 0;
      font-size: 1rem;
    }

    &__data-container {
      margin: 1rem 0;
    }
  }

  @include desktopXL() {
    &__data {
      @include fluid-text(0.6rem, 1.2rem);
    }
  }

  @include desktopXXL() {
    margin: 3rem auto;
  }
}
