@use 'sass:color';
@use '../../../01_settings/global' as *;
@use '../../../01_settings/fonts' as *;
@use '../../../01_settings/colors' as *;
@use '../../../02_tools/breakpoints' as *;
@use '../../../02_tools/mixins' as *;

.details {
  width: 100%;
  max-width: 90%;

  &__grid {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-sm;
  }

  &__info {
    color: color.adjust($color-gray-60, $lightness: 5%);
  }

  &__heading {
    display: none;
    margin: 0;
    @include fluid-text(1rem, 2rem);
    font-weight: $weight-bolder;
    line-height: 1;
    text-transform: capitalize;

    &--mobile {
      display: block;
      color: color.adjust($color-gray-60, $lightness: 5%);
    }

    &--desktop {
      display: none;
    }
  }

  &__data-container {
    margin: $spacing-md 0;
  }

  &__data {
    margin: 0;
    font-size: 0.8rem;
    line-height: $base-line-height;

    &--title {
      margin: 0;
      font-weight: $weight-bold;
    }
  }

  &__btn {
    @include btn(
      $color-white,
      color.adjust($color-green-blue, $lightness: 12%),
      $color-white,
      $color-bright-blue
    );
    display: block;
    padding: 0.625rem 0.3125rem;
    border-radius: 0.625rem;
    font-size: 0.9375rem;
    font-weight: $weight-light;
    text-decoration: none;
    text-transform: capitalize;
  }

  @include tablet() {
    &__data-container {
      margin: 1rem 0;
    }

    &__data {
      font-size: 1.2rem;
      line-height: $base-line-height;
    }

    &__btn {
      font-size: 1.2rem;
    }
  }

  @include fold {
    margin: 2rem auto;
  }

  @include phone {
    margin: 2.8rem auto;
  }

  @include desktop() {
    height: 20rem;
    margin: 3rem auto;

    &__heading {
      &--mobile {
        display: none;
      }

      &--desktop {
        display: block;
      }
    }

    &__data {
      font-size: 0.9rem;
      line-height: $base-line-height;
    }

    &__grid {
      flex-direction: row;
      justify-content: center;
    }

    &__btn {
      padding: $spacing-sm $spacing-md;
      font-size: 1rem;
    }

    &__data-container {
      margin: 1rem 0;
    }
  }

  @include desktopXL() {
    width: 90%;
    max-width: 120rem;
    height: 24rem;

    &__data {
      font-size: 1.2rem;
    }
  }

  @include desktopXXL() {
    height: 44rem;

    &__heading {
      @include fluid-text(2rem, 3.5rem);
    }

    &__data {
      font-size: 1.6rem;
    }
    &__btn {
      font-size: 1.6rem;
    }
  }
}
