@use 'sass:color';
@use '../../../01_settings/global' as *;
@use '../../../01_settings/fonts' as *;
@use '../../../01_settings/colors' as *;
@use '../../../02_tools/breakpoints' as *;

.tags {
  display: flex;
  gap: 0.625rem;

  &__tag {
    display: flex;
    height: 1.4rem;
    align-items: center;
    padding: $spacing-lg;
    border-radius: 0.625rem;
    background-color: $brand-color;
    text-decoration: none;
  }

  &__tag-content {
    margin: 0;
    color: $color-white;
    font-size: 0.8rem;
    font-weight: $weight-lighter;

    @include phoneXL() {
      font-size: 1rem;
    }
  }

  @include desktop() {
    margin-top: $spacing-lg;
  }
}
