@use '../01_settings/global' as *;
@use '../01_settings/colors' as *;
@use '../01_settings/fonts' as *;

/* ==========================================================================
   #ALERTS
   ========================================================================== */

.c-alert {
  position: relative;
  padding: $base-spacing-unit-small $base-spacing-unit-large $base-spacing-unit-small
    $base-spacing-unit-small;
  border-radius: $base-border-radius-small;
  border-top: $base-border-width solid $color-information-dark;
  margin-bottom: $base-spacing-unit;
  background-color: $color-information;
  box-shadow: $base-box-shadow;
  color: $color-white;
}

/* Body */

.c-alert__body {
  a {
    color: $color-white;
    font-weight: $weight-bold;

    &:focus,
    &:hover {
      color: $color-white;
    }
  }

  ul {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }

  p + p,
  p + ul {
    margin-top: $base-spacing-unit-small;
  }
}

/* Dismiss - Common styles */

.c-alert__dismiss {
  position: absolute;
  top: $base-spacing-unit-xs;
  right: $base-spacing-unit-xs;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: $color-information-light;
  cursor: pointer;
  transition: color 0.25s;

  &:focus,
  &:hover {
    color: $color-white;
    outline: none;
  }
}

/**
 * Success Alert Styles
 */
.c-alert--success {
  border-top-color: $color-success-dark;
  background-color: $color-success;
}

.c-alert--success .c-alert__dismiss {
  color: $color-success-light;
}

/**
 * Warning Alert Styles
 */
.c-alert--warning {
  border-top-color: $color-warning-dark;
  background-color: $color-warning;
}

.c-alert--warning .c-alert__dismiss {
  color: $color-warning-light;
}

/**
 * Error Alert Styles
 */
.c-alert--error {
  border-top-color: $color-error-dark;
  background-color: $color-error;
}

.c-alert--error .c-alert__dismiss {
  color: $color-error-light;
}
