@use '../01_settings/global' as *;
@use '../02_tools/breakpoints' as *;

/* ==========================================================================
   #BUTTON GROUPS
   ========================================================================== */

.c-btn-group {
  display: flex;

  /* Button */

  .c-btn:not(:last-child) {
    margin-right: $base-spacing-unit-small;
  }
}

@include tablet() {
  .c-btn-group {
    /* Button */

    .c-btn:not(:last-child) {
      margin-right: $base-spacing-unit;
    }

    /**
     * Small
     */

    .c-btn--small:not(:last-child) {
      margin-right: $base-spacing-unit-small;
    }
  }
}
