@use '../01_settings/global' as *;
@use '../01_settings/colors' as *;
@use '../01_settings/fonts' as *;
@use '../02_tools/breakpoints' as *;

/* ==========================================================================
   #FORMS
   ========================================================================== */

/**
 * Inline
 */

.c-form--inline {
  display: flex;
}

/* Group */

.c-form-group {
  flex: 1; // Default flex applied
  margin-bottom: $base-spacing-unit-small;

  &:last-child {
    margin-bottom: 0;
  }

  @include desktop() {
    margin-bottom: $base-spacing-unit;
  }

  input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  + .c-btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

/**
 * Checkbox or Radio Button
 * This block needs to be before .c-form-group--inline label:last-child
 */

.c-form-group--check {
  label {
    display: block;
    margin-bottom: 0;
    font-weight: $weight-normal;
  }
}

/* Inline Group - after .c-form-group--check */
.c-form-group--inline {
  margin-bottom: $base-spacing-unit-small;

  legend {
    margin-bottom: 0;
  }

  label {
    display: inline-block;
    margin-right: $base-spacing-unit-small;
  }

  label:last-child {
    margin-right: 0;
  }
}

/**
 * Flat Group
 */

.c-form-group--flat {
  margin-bottom: 0;
}

/* Control */

.c-form-control {
  display: block;
  width: 100%;
  height: calc(
    #{$base-font-size} * #{$base-line-height} + (#{$base-border-width-small} * 2) +
      (#{$base-spacing-unit-xs} * 2)
  );
  padding: $base-spacing-unit-xs $base-spacing-unit-small;
  border: $base-border-width-small solid $color-gray-20;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow-inset;
  font-family: inherit;
  font-size: inherit;
  line-height: $base-line-height;
  transition:
    border-color 0.25s,
    box-shadow 0.25s;

  &:focus,
  &:hover {
    border-color: $color-brand;
    box-shadow: $base-box-shadow-highlight;
    outline: 0;
  }

  &[disabled] {
    background-color: $color-gray-05;
    box-shadow: none;
    color: $color-brand-secondary;
  }

  &[disabled]:focus,
  &[disabled]:hover {
    border-color: $color-gray-20;
    box-shadow: none;
    cursor: default;
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    cursor: not-allowed;
  }

  /**
   * Error
   */

  &.is-error {
    border-color: $color-error;
    box-shadow: $base-box-shadow-error;
  }
}

/**
 * File
 */

.c-form-control--file {
  width: auto;
  height: auto;
  padding: 0;
  border: 0;
  box-shadow: none;

  &:focus,
  &:hover {
    box-shadow: none;
  }

  /**
   * Error
   */

  &.is-error {
    box-shadow: none;
  }
}

/**
 * Textarea
 */

.c-form-control--textarea {
  height: auto;
  resize: vertical;
}

/* Help */

.c-form-help {
  margin-top: $base-spacing-unit-xs;
  color: $color-gray-50;
  font-size: 0.75rem; /* 14 / 16 */

  /**
   * Error
   */

  &.is-error {
    color: $color-error;
  }
}

@include tablet() {
  /**
   * Inline
   */

  .c-form--inline {
    /* Group */

    .c-form-group {
      flex: auto;
    }
  }
}

@include desktop() {
  .c-form-group {
    margin-bottom: $base-spacing-unit;
  }
}
