@use "base/variables" as v;
@use "base/mixins" as m;

.header {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
  height: v.$mobile-height;
  top: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0px 4px 15px 0px v.$gray;
  transition: box-shadow 500ms ease-in-out;

  &__logo {
    height: 5rem;
    width: 7rem;
  }

  &__background {
    opacity: 0;
    height: 100vh;
    display: block;
    position: fixed;
    width: 100%;
    top: v.$mobile-height;
    left: 0;
    backdrop-filter: blur(3px);
    transition:
      opacity 500ms ease-in-out,
      background-color 500ms ease-in-out;
  }

  &--active {
    box-shadow: none;
    .menu--collapse .menu-inner {
      transform: translate3d(0, -1rem, 0) rotate(-45deg);
      transition-delay: 220ms;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        transform: rotate(-90deg);
        transition:
          top 100ms 160ms cubic-bezier(0.33333, 0, 0.66667, 0.33333),
          transform 130ms 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      &::after {
        top: 0;
        opacity: 0;
        transition:
          top 200ms cubic-bezier(0.33333, 0, 0.66667, 0.33333),
          opacity 100ms 220ms linear;
      }
    }
    .header__background {
      opacity: 1;
      background-color: rgb(0 0 0 / 0.9);
      z-index: 2;
      transition:
        opacity 500ms ease-in-out,
        background-color 500ms ease-in-out;
    }
  }

  @include m.tablet {
    height: v.$desktop-height;
    padding: 1rem 3rem;
    &__logo {
      height: 6rem;
      width: 7.5rem;
      padding-top: 0.5rem;
      margin-right: 10rem;
    }
  }

  @include m.desktop {
    padding: 0 4rem;
  }
}

.navigation {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  gap: 1rem;
  left: 0;
  top: 100%;
  width: 100%;
  padding-top: 3rem;
  z-index: 2;
  visibility: hidden;
  transition:
    opacity 200ms ease-out,
    visibility 200ms step-end;

  &__link {
    display: block;
    color: v.$white;
    padding: 1.2rem;
    width: 90%;
    transition-property: background-color;
    transition-duration: 300ms;
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;

    &:hover,
    &--active {
      background-color: darken(v.$bright-blue, 20%);
      border-radius: 0.5rem;
    }

    @include m.tablet {
      color: darken(v.$bright-blue, 20%);
      width: auto;
      font-weight: 700;
      padding: 0;
      text-transform: uppercase;
      transition: color 300ms ease;
      margin-right: 2.8rem;
      color: darken(v.$bright-blue, 20%);
      font-weight: 700;
      text-transform: uppercase;
      transition: color 300ms ease;
      font-size: 1.6rem;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: inherit;
        color: lighten(v.$bright-blue, 20%);
      }
    }

    @include m.desktop {
      font-size: 1.8rem;
      margin-right: 4rem;
    }

    @include m.desktopXL {
      font-size: 2rem;
      margin-right: 8rem;
    }
  }

  &--active {
    display: flex;
    opacity: 1;
    visibility: visible;
    transition:
      opacity 400ms ease-in,
      visibility 400ms step-start;
  }

  @include m.tablet {
    display: flex;
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    position: unset;
    gap: 0;
    flex-direction: row;
    margin: 0;
    width: auto;
    padding-top: 0;
  }
}

.menu {
  padding: 0.5rem 0 0 0;
  display: inline-block;
  transition-property: opacity, filter;
  transition-duration: 150ms;
  transition-timing-function: linear;
  color: v.$black;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  &.is-active:hover {
    opacity: 0.7;
  }

  @include m.tablet {
    display: none;
  }
}

.menu-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.menu-inner {
  display: block;
  top: 50%;
  margin-top: -0.2rem;

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: -1rem;
  }

  &::after {
    bottom: -1rem;
  }
}

.menu-inner,
.menu-inner::before,
.menu-inner::after {
  width: 4rem;
  height: 0.4rem;
  background-color: #000;
  border-radius: 0.4rem;
  position: absolute;
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

.menu--collapse .menu-inner {
  top: auto;
  bottom: 0;
  transition-duration: 130ms;
  transition-delay: 130ms;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &::before {
    transition:
      top 120ms 200ms cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      transform 130ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &::after {
    top: -20px;
    transition:
      top 200ms 200ms cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      opacity 100ms linear;
  }
}
