@use '../../01_settings/global' as *;
@use '../../01_settings/colors' as *;
@use '../../01_settings/fonts' as *;
@use '../../02_tools/breakpoints' as *;
@use '../../02_tools/mixins' as *;

.navigation {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  gap: 1rem;
  opacity: 0;
  transition:
    opacity 200ms ease-out,
    visibility 200ms step-end;
  visibility: hidden;

  &--active {
    display: flex;
    opacity: 1;
    transition:
      opacity 400ms ease-in,
      visibility 400ms step-start;
    visibility: visible;
  }

  &__link {
    display: block;
    width: 90%;
    padding: 0.7rem;
    color: $color-white;
    font-size: 1.8rem;
    font-weight: $weight-normal;
    text-align: center;
    text-decoration: none;
    transition:
      background-color 300ms,
      color 300ms ease;

    &:hover,
    &--active {
      border-radius: 0.5rem;
      background-color: $color-bright-blue;
      color: $color-white;
    }
  }

  @include tablet() {
    position: unset;
    width: auto;
    flex-direction: row;
    padding-top: 0;
    margin: 0;
    gap: 3vw;
    opacity: 1;
    visibility: visible;

    &__link {
      width: auto;
      padding: 0;
      color: $color-header-links;
      font-size: 1.1rem;
      text-transform: uppercase;

      &:last-child {
        margin-right: 0;
      }

      &:hover,
      &--active {
        background-color: transparent;
        color: $color-brand-secondary;
      }
    }
  }

  @include desktop() {
    gap: 4vw;
    &__link {
      font-size: 1.5rem;
    }
  }

  @include desktopXL() {
    &__link {
      font-size: 1.8rem;
    }
  }
}
