@use '../../../01_settings/global' as *;
@use '../../../01_settings/colors' as *;
@use '../../../01_settings/fonts' as *;
@use '../../../02_tools/breakpoints' as *;
@use '../../../02_tools/mixins' as *;

.about-us {
  &__content {
    padding: 0 $spacing-md;
    margin-top: 1.2rem;
  }

  &__heading {
    margin-bottom: 0.8rem;
    text-align: left;
  }

  &__image-container {
    overflow: hidden;
    align-self: flex-start;
  }

  &__image {
    width: 100%;
    height: 100%;
    max-height: 35dvh;
    object-fit: cover;
  }

  &__text {
    margin: 0;
    color: $color-gray-50;
    font-size: 1rem;
    font-weight: $weight-normal;
    line-height: 1.4;
  }
  @include phone() {
    &__text {
      padding: 0;
      font-size: 1.4rem;
      line-height: 1.4;
    }
  }

  @include tablet() {
    &__text {
      padding: 0;
      font-size: 1.8rem;
      line-height: 1.2;
    }
  }

  @include desktop() {
    &__content {
      padding: 0;
      margin-top: 0;
    }

    &__grid {
      @include grid(2, 3rem);

      align-items: center;
    }
    &__text {
      font-size: 1.4rem;
    }

    &__image-container {
      width: 100%;
      height: 100%;
      max-height: none;
      border-bottom-right-radius: 5.5vw;
      border-top-right-radius: 5.5vw;
    }
    &__image {
      max-height: none;
    }
  }

  @include desktopXL() {
    &__grid {
      @include grid(2, 4.5rem);
      height: calc(100svh - var(--header-height));
    }
    &__content {
      padding-right: 8vw;
    }
    &__text {
      font-size: 1.8rem;
    }
  }
  @include desktopXXL() {
    &__grid {
      height: calc(85svh - var(--header-height));
      @include grid(2, 4.5rem);
    }
  }
}
