@use 'base/variables' as v;
@use 'base/mixins' as m;

.header-category {
    display: flex;
    padding: 5rem 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

    &__mask {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: 
        linear-gradient(
            to bottom, 
            transparentize(v.$bright-blue, .2) 0%, 
            transparentize(v.$bright-blue, .7) 50%,
            transparentize(v.$bright-blue, .5) 100%
        );
        background-size: cover;
    }
    &__title {
        text-align: center;
        text-transform: uppercase;
        @include m.fluid-text(3rem, 5rem);
        color: v.$white;
        margin: 0;
        z-index: 1;
    }
    &__filter {
        z-index: 1;
    }
}
.category {

    &__grid {
        max-width: 90%;
        margin: 5rem auto 0 auto;
        @include m.grid(1, 1.5rem);
        @include m.phoneXL{
            @include m.grid(2, 4rem 2rem);
        }
        @include m.tablet{
            row-gap: 2rem;
            padding: 2rem 2rem 0 2rem;
        }
        @include m.desktop {
            @include m.flex-columns(3, 2rem, 2.5rem);
        }
    }

    &__heading {
        text-align: center;
        margin: 0;
        color: v.$white;
        font-size: 6rem;
        font-weight: 900;
    }
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    border: 1px solid lighten(v.$aqua-blue, 40%);
    transition: border 100ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    transition: box-shadow 500ms ease-in-out;

    &:hover {
        $border-size: 2px;
        $border-blur: 0px;
        $border-spread: 0px; 
        &:hover {
            box-shadow: $border-size $border-size $border-blur $border-spread lighten(v.$aqua-blue, 5%) , 
                        $border-size (-$border-size) $border-blur $border-spread lighten(v.$aqua-blue, 5%) , 
                        (-$border-size) $border-size $border-blur $border-spread lighten(v.$aqua-blue, 5%) , 
                        (-$border-size) (-$border-size) $border-blur $border-spread lighten(v.$aqua-blue, 5%) ;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        margin: auto;
        max-width: 70%;
        max-height: 28rem;
        transition: transform 300ms ease;
        img {
            object-fit: cover;
        }

        @include m.desktop{
            max-width: 80%;    
        }
    }

    &__name {
        margin: 0;
        transition: transform 300ms ease;
        color: v.$gray;
        font-weight: 700;
        font-size: 2.5rem;
        @include m.fluid-text(2.5rem, 3.4rem);
        line-height: 1.5;
        text-transform: uppercase;
    }

    &__button {
        @include m.btn(v.$white, darken(v.$bright-blue, 5%), v.$white, v.$aqua-blue);
        font-size: 1.6rem;
        padding: 1rem 5rem;  
        font-weight: 500;
        transition-property: background-color,transform;
        transition-duration: 300ms;
    }
}