@use 'sass:color';
@use 'plugins/plyr';
@use 'plugins/accordion';
@use 'plugins/tingle';
@use 'base';
@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'UI/product';
@use 'UI/whatsapp';
@use 'UI/header';
@use 'UI/footer';

.carousel {
  width: 100%;
  margin: 0;

  @include m.tablet {
    width: 80%;
  }

  @include m.desktop {
    width: 50%;
  }
}

.magnify-wrapper {
  position: relative;
  img {
    max-height: inherit;
    background-size: cover;
  }
  #large-img {
    position: absolute;
    z-index: 99;
    display: block;
    width: 30rem;
    height: 20rem;
    border: 2px solid #efefef;
    background: no-repeat #fff;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
  }
  &:hover,
  &:active {
    #large-img {
      opacity: 1;
    }
  }

  &:hover {
    cursor: none;
  }
}
