.btn-whatsapp {
  position: fixed;
  z-index: 2;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: #25d366;

  &:hover {
    cursor: pointer;
  }
}
