@use 'sass:color';
@use '../../base/mixins' as m;
@use '../../base/variables' as v;

$lg-path-fonts: '../../fonts';
$lg-path-images: '../../images';
$lg-theme-highlight: v.$aqua-blue;

@import 'node_modules/lightgallery/scss/lightgallery-bundle';
