@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.product-info {
  width: 90%;
  max-width: 120rem;
  padding-top: 15rem;
  margin: 0 auto;

  @include m.tablet {
    margin-bottom: 8rem;
  }
  @include m.desktopXXL {
    max-width: 180rem;
  }
  &--video {
    width: 100%;
  }
  &__heading {
    margin: 0;
    margin-bottom: 2rem;
    color: v.$sky-blue;
    text-align: left;
    text-transform: capitalize;
    transition: color 1000ms ease-in-out;
    @include m.fluid-text(3rem, 5rem);

    @include m.tablet {
      margin-bottom: 4rem;
    }
  }
  &__text-container {
    padding-top: 4rem;
    border-top: 0.8rem solid v.$sky-blue;
    transition: border-color 1000ms ease-in-out;
    @include m.tablet {
      padding-top: 0;
      padding-left: 3.5rem;
      border-top: none;
      border-left: 0.8rem solid v.$sky-blue;
      margin-left: 0.2rem;
    }
  }
  &__text {
    margin: 0;
    color: v.$gray;
    font-size: 2.2rem;
    line-height: 1.4;

    &--title {
      margin-right: 0.5rem;
      font-weight: 700;
    }
  }
  &__video-container {
    margin: 4rem auto 0 auto;

    @include m.tablet {
      max-width: 80%;
    }
  }
  &--active {
    .product-info__heading {
      color: v.$turquoise-blue;
    }
    .product-info__text-container {
      border-color: v.$turquoise-blue;
    }
  }
}
