@use 'base/variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,*:before,*:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    background-color: v.$light-gray;
}
p {
    color: v.$black;
    font-size: 1.6rem;
    line-height: 2;
}
a {
    text-decoration: none;
    color: v.$black;
}
img {
    display: block;
    height: auto;
    width: 100%;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container-sm {
    max-width: 70rem;
    width: 90%;
    margin: 0 auto;
}