@use '../../../01_settings/global' as *;
@use '../../../01_settings/colors' as *;
@use '../../../01_settings/fonts' as *;
@use '../../../02_tools/breakpoints' as *;
@use '../../../02_tools/mixins' as *;

.privacy-policy {
  &__heading {
    color: $color-aqua-blue;
  }

  &__text {
    color: $color-gray-50;
    font-size: 1rem;
    font-weight: $weight-normal;
    line-height: 1.4;
    text-align: justify;
  }

  &__wrapper {
    width: 80%;
    padding: max(0.5rem, 3svh) 0;
    margin: auto;
  }
}
