/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable no-descending-specificity */
accordion-element {
  display: inline-block;
  width: 95%;
  height: unset;
  border-radius: 0.5rem;
  margin-top: 0.1em;

  & > .ploiu-accordion-title {
    padding: 1rem;
    border-radius: inherit;
    text-transform: capitalize;
  }
  &:hover {
    cursor: pointer;
  }

  & > .ploiu-accordion-body {
    overflow: hidden;
    width: 95%;
    border: 1px solid transparent;
    transition: height 300ms;
    word-wrap: anywhere;
  }

  & > accordion-element {
    margin-left: 1em;
  }

  &:not(.open) > .ploiu-accordion-body {
    height: 0 !important;
    border: 0;
  }

  &.open {
    height: -moz-max-content;
    height: max-content;
  }

  & > .ploiu-accordion-title {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

accordion-fan {
  display: block;
  width: 95%;
  padding-top: 1vh;

  & > accordion-element {
    width: 100%;
    border-radius: 0;
    margin-top: -1vh;
  }

  & > .ploiu-accordion-title {
    width: auto;
  }

  & > accordion-element:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  & > accordion-element:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
