@use 'base/variables' as v;
@use 'base/mixins' as m;

.certificates {
    &__heading {
        margin-top: 5rem;
        @include m.heading;
        @include m.fluid-text(3rem, 6rem);
    }

    &__grid {
        max-width: 90%;
        margin: 5rem auto 0 auto;
        @include m.grid(1, 1.5rem);
        @include m.phoneXL{
            @include m.grid(2, 4rem 2rem);
        }
        @include m.tablet{
            row-gap: 3rem;
            padding: 2rem 2rem 0 2rem;
        }
        @include m.desktop {
            @include m.flex-columns(3, 2rem, 4rem);
            
        }
    }
}

.certificate {
    padding: 2rem 2rem 0 2rem;
    border: 1px solid v.$aqua-blue;
    transition: border 100ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    transition: box-shadow 500ms ease-in-out;

    &__information {
        margin: 3rem 0 2rem 0 auto;
        text-align: center;
        font-weight: 700;
    }

    &__name {
        color: v.$gray;
        font-size: 1.8rem;
        text-decoration: none;
        padding: 0 .5rem;
    }

    &__image {
        margin: auto 0;
        transition: box-shadow 500ms ease-in-out;

        img {
            object-fit: cover;
            max-width: 30rem;
            max-height: 28rem;
        }
    }

    &:hover {
        $border-size: 3px;
        $border-blur: 0px;
        $border-spread: 0px; 
        &:hover {
            box-shadow: $border-size $border-size $border-blur $border-spread v.$aqua-blue , 
                        $border-size (-$border-size) $border-blur $border-spread v.$aqua-blue , 
                        (-$border-size) $border-size $border-blur $border-spread v.$aqua-blue , 
                        (-$border-size) (-$border-size) $border-blur $border-spread v.$aqua-blue ;
        }
    }

    &:hover &__image {
        box-shadow: v.$gray 7px 8px 7px;
        
    }
}