@use '../01_settings/global' as *;

/* ==========================================================================
   #GRID
   ========================================================================== */

.grid {
  width: 100%;
  clear: both;

  + .grid {
    margin-top: $base-spacing-unit;
  }
}

/* Row */

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-top: -$base-spacing-unit;
  margin-left: -$base-spacing-unit;

  + .grid__row {
    margin-top: 0;
  }
}

/* Column */

.grid__col {
  padding-top: $base-spacing-unit;
  padding-left: $base-spacing-unit;
}
