/* ==========================================================================
   #WRAPPERS
   ========================================================================== */

/* Center the content within a reasonably wide container. */

.o-wrapper {
  max-width: 75em; /* 1200 / 16 */
  margin-right: auto;
  margin-left: auto;
}

/**
 * Small
 */

.o-wrapper--small {
  max-width: 30em; /* 480 / 16 */
}

/**
 * Medium
 */

.o-wrapper--medium {
  max-width: 40em; /* 640 / 16 */
}

//TODO Remove this progressivly
.container-sm {
  width: 90%;
  max-width: 70rem;
  margin: 0 auto;
}
