/* ==========================================================================
   #WRAPPERS
   ========================================================================== */

/* Center the content within a reasonably wide container. */

.wrapper {
  max-width: 75em; /* 1200 / 16 */
  margin-right: auto;
  margin-left: auto;
}

/**
 * Small
 */

.wrapper--small {
  max-width: 30em; /* 480 / 16 */
}

/**
 * Medium
 */

.wrapper--medium {
  max-width: 40em; /* 640 / 16 */
}

/**
 * Home Form
 */

.wrapper--large {
  max-width: 50em; /* 800 / 16 */
}
