@use '../../../../01_settings/global' as *;
@use '../../../../01_settings/colors' as *;
@use '../../../../01_settings/fonts' as *;
@use '../../../../02_tools/breakpoints' as *;
@use '../../../../02_tools/mixins' as *;

.measurement-solutions {
  margin-bottom: 12rem;

  &__heading {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 3rem;
    @include tablet() {
      margin-bottom: 5rem;
    }
  }

  &__grid {
    width: 100%;
    margin: 0 auto;

    @include phone() {
      @include grid(2, 0);
    }

    @include desktop() {
      @include flex-columns(3, 0rem, 0rem);
    }

    @include desktopXL() {
      @include flex-columns(4, 0rem, 0rem);
    }
  }
}
