@use 'sass:color';
@use 'sass:list';
@use '../../../../01_settings/global' as *;
@use '../../../../01_settings/colors' as *;
@use '../../../../01_settings/fonts' as *;
@use '../../../../02_tools/breakpoints' as *;

.measurement-solution {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 29svh;
  min-height: 12rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  gap: 5svh;
  text-align: center;
}

.measurement-solution__icon {
  z-index: 1;
  width: 5rem;
  transition: all 600ms ease;
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  svg {
    width: 100%;
    aspect-ratio: 1 / 1;
    transition: all 600ms ease;
  }
}

.measurement-solution__content {
  z-index: 1;
  font-size: 1rem;
  transition: 600ms ease all;
}

.measurement-solution__title,
.measurement-solution__description {
  color: $color-gray-60;
}

.measurement-solution__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  line-height: 1;
  transition: all 1000ms ease;
  &--strong {
    order: -1;
    font-size: 1.5em;
    font-weight: $weight-bold;
    text-transform: capitalize;
  }
}

.measurement-solution__description {
  display: block;
  height: 0;
  font-size: 0.8em;
  font-style: italic;
  font-weight: $weight-lighter;
  line-height: 1;
  opacity: 0;
  transition:
    opacity 200ms ease-in-out,
    visibility 200ms step-end,
    height 200ms ease-in-out;
  visibility: hidden;
}

.measurement-solution__mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    color.adjust($color-white, $alpha: -0.1) 0%,
    color.adjust($color-white, $alpha: -0.1) 100%
  );
  opacity: 1;
  visibility: visible;
}

.measurement-solution__mask--hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    color.adjust($color-black, $alpha: -0.2) 0%,
    color.adjust($brand-color, $alpha: -0.2) 20%,
    color.adjust($color-green-blue, $alpha: -0.2) 40%,
    color.adjust($color-green-blue, $alpha: -0.2) 60%,
    color.adjust($brand-color, $alpha: -0.2) 80%,
    color.adjust($color-black, $alpha: -0.2) 100%
  );
  opacity: 0;
  visibility: hidden;
}

.measurement-solution__bottom-highlight {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $spacing-md;
  background: var(--bottom-highlight-color);
}
.measurement-solution:hover {
  color: $color-white;

  & .measurement-solution__content {
    transition: 600ms ease all;
    translate: 0 -35%;
  }

  & .measurement-solution__title,
  & .measurement-solution__description {
    color: $color-white;
  }

  & .measurement-solution__description {
    display: -webkit-box;
    overflow: hidden;
    height: 4em;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    opacity: 1;
    text-overflow: ellipsis;
    transition:
      opacity 400ms ease-in-out,
      visibility 400ms step-start,
      height 400ms ease-in-out;
    visibility: visible;
  }

  & .measurement-solution__icon {
    svg {
      scale: 0.7;
    }
    * {
      /* stylelint-disable-next-line itcss/no-at-important */
      fill: $color-white !important; //The reason for this is that the svgs imported already have a fill property
    }
  }

  & .measurement-solution__mask {
    opacity: 0;
    visibility: hidden;
  }

  & .measurement-solution__mask--hover {
    opacity: 1;
    visibility: visible;
  }
}

@include phone() {
  .measurement-solution {
    height: 25svh;
    min-height: 15rem;
  }
  .measurement-solution__icon {
    width: 5rem;
  }
  .measurement-solution__content {
    font-size: 1rem;
  }
}

@include phoneXL() {
  .measurement-solution__icon {
    width: 6.5rem;
  }
}

@include tablet() {
  .measurement-solution {
    height: 35svh;
    min-height: 20rem;
  }
  .measurement-solution__content {
    font-size: 1.6rem;
  }
  .measurement-solution__icon {
    width: 40%;
  }
  .measurement-solution__bottom-highlight {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $spacing-lg;
    background: var(--bottom-highlight-color);
  }
}

@include desktop {
  .measurement-solution__icon {
    width: 60%;
  }
}

@include desktopXL {
  .measurement-solution {
    gap: 7svh;
  }
  .measurement-solution__icon {
    width: 49%;
  }
}
@include desktopXXL {
  .measurement-solution__icon {
    width: 39%;
  }
}
