/* stylelint-disable plugin/no-unsupported-browser-features */
/* stylelint-disable plugin/selector-bem-pattern */
@use '../../../../01_settings/global' as *;
@use '../../../../01_settings/colors' as *;
@use '../../../../01_settings/fonts' as *;
@use '../../../../02_tools/breakpoints' as *;

@import 'https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.min.css';
.custom-select-container {
  position: relative;
  overflow: hidden;
  border: 0.115rem solid $color-white;
  border-radius: 1.7rem;
  font-style: italic;

  .custom-select-opener {
    padding: 0.7rem;
    border-radius: 1.7rem;
    background: transparent;
    font-size: 0.7rem;
    font-style: normal;
    white-space: wrap;

    &:focus {
      border-color: $color-light-blue;
    }

    @include tablet {
      padding: $spacing-lg;
      font-size: 1rem;
    }
  }

  .custom-select-opener span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .custom-select-panel {
    position: relative;
    border-radius: 0.3125rem;
    background: transparent;
  }

  .custom-select-option {
    padding-left: $spacing-lg;
    background: transparent;
    cursor: pointer;
    &.is-selected {
      &:before {
        content: none;
      }
    }
    &:hover {
      background: transparent;
      font-style: normal;
      font-weight: $weight-bold;
    }
  }

  &.is-open {
    .custom-select-panel {
      overflow-y: hidden;
    }
  }
}
