/* stylelint-disable plugin/no-unsupported-browser-features */
/* stylelint-disable plugin/selector-bem-pattern */
@use '../../../../01_settings/global' as *;
@use '../../../../01_settings/colors' as *;
@use '../../../../01_settings/fonts' as *;
@use '../../../../02_tools/breakpoints' as *;

.custom-select-container {
  position: relative;
  overflow: hidden;

  border: 0.115rem solid $color-white;
  border-radius: 2cqmax;
  font-style: italic;
  font-weight: $weight-light;
  transition: transform 0.3s ease-in-out;

  .custom-select-opener {
    padding: 0.65rem;
    padding-left: 0.8rem;
    background: transparent;
    font-size: 0.65rem;
    font-style: normal;
    font-weight: $weight-light;
    white-space: wrap;
    @include tablet {
      padding: 1.4rem;
      padding-left: 1.5rem;
      font-size: 1rem;
    }
  }

  .custom-select-opener span {
    display: block;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    text-overflow: ellipsis;
    &::after {
      display: block;
      width: 2.8em;
      height: 1.4em;
      content: url('/assets/images/down-arrow-sm.svg');
      transform-origin: center center;
      transition: rotate 0.3s ease-in-out;
    }
  }
  .custom-select-panel {
    position: relative;

    background: transparent;
  }

  .custom-select-option {
    padding-left: $spacing-lg;
    background: transparent;
    cursor: pointer;
    font-size: 0.7rem;
    &.is-selected {
      &:before {
        content: none;
      }
    }
    &:hover {
      background: transparent;
      font-style: normal;
      font-weight: $weight-bold;
    }
    @include tablet {
      font-size: 1rem;
    }
  }

  &.is-open {
    .custom-select-panel {
      overflow-y: hidden;
    }
    .custom-select-opener span {
      &::after {
        rotate: 180deg;
        transition: rotate 0.3s ease-in-out;
      }
    }
  }
}
