@use '../../../../01_settings/global' as *;
@use '../../../../01_settings/colors' as *;
@use '../../../../01_settings/fonts' as *;
@use '../../../../02_tools/breakpoints' as *;
@use '../../../../02_tools/mixins' as *;

.form {
  position: relative;
  z-index: 0;
  display: flex;
  overflow: visible;
  flex-direction: column;
  padding: $spacing-lg;
  border-radius: 3.5rem;

  margin: $spacing-md;
  margin-bottom: 3rem;
  background: linear-gradient(to bottom right, $brand-color, #6ccfe6);
  box-shadow: $color-gray-80 0rem 0.2rem $spacing-sm;
  color: $color-white;
  gap: $spacing-lg;
  @include tablet {
    padding: 3.5rem;
    margin-right: auto;
    margin-bottom: 5rem;
    margin-left: auto;
  }

  &__icon {
    position: absolute;
    z-index: 1;
    top: -$spacing-lg;
    right: -0.9rem;
    @include tablet {
      top: -3.4rem;
      right: -2.3rem;
    }
  }
  &__svg {
    overflow: visible;
    width: 5rem;
    height: 5rem;

    @include tablet {
      width: 9rem;
      height: 9rem;
    }
  }

  &__legend {
    margin-top: 3rem;
    margin-bottom: 0.7rem;

    text-transform: capitalize;
    @include fluid-text($spacing-lg, 4.5rem, 9vw);
    @include tablet {
      margin-bottom: $spacing-lg;
    }
  }

  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__label {
    margin-left: $spacing-md;
    @include fluid-text($spacing-md, $spacing-xl, 2vw);
    font-weight: $weight-light;
  }

  &__input {
    border-radius: 1.7rem;
  }

  &__textarea {
    border-radius: $spacing-lg;
  }

  &__input,
  &__textarea {
    padding: $spacing-md;
    border: 0.13rem solid $color-white;
    background: transparent;
    color: $color-white;
    font-size: 0.7em;
    resize: none;
    transition: border-color 200ms;
    &:focus {
      border-color: $color-bright-blue;
      outline: none;
    }

    &::placeholder {
      color: $color-white;
    }
    @include tablet {
      padding: $spacing-lg;
      font-size: 1em;
    }
  }

  &__error {
    margin-left: $spacing-md;
    color: $color-error;
    font-size: 1.7rem;
    font-weight: $weight-bold;
    line-height: 0;
  }

  &__submit {
    @include btn($color-white, $color-light-blue, $color-white, $color-aqua-blue);
    align-self: flex-end;
    padding: 0.7rem $spacing-xl 0.7rem $spacing-xl;
    border-radius: $spacing-lg;

    font-size: 1rem;
    font-style: italic;
    @include tablet {
      width: 15rem;
      padding: 0.7rem;
      font-size: $spacing-xl;
    }
  }
}
