@use 'base/variables' as v;
body {
    font-family: v.$secondary-font;
}
h1, h2, h3 {
    font-family: v.$primary-font;
    margin: 0 0 5rem 0;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3.2rem;
}
p {
    font-family: v.$secondary-font;
}