@use 'base/variables' as v;
@use 'base/mixins' as m;

.kinub-video {
    margin: 3rem 0;
    padding: 2rem 0;
    &__container {
        max-width: 70rem;
        width: 100%;
        margin: 0 auto;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
}
.plyr {
    &__controls {
        justify-content:unset;
        min-width: 100%;
        display: grid;
        grid-template-areas:
        "playback playback playback playback time"
        "play-btn volume-btn settings pip screen-btn";

        @include m.phone {
            grid-template-areas:
            "playback playback playback playback playback playback"
            "play-btn time volume-btn settings pip screen-btn";
        }
        @include m.device(400px) {
            display: flex;
        }
        &__item:nth-child(1) {
            grid-area: play-btn;
        }
        &__item:nth-child(2) {
            grid-area: playback;
        }
        &__item:nth-child(3) {
            grid-area: time;
        }
        &__item:nth-child(4) {
            grid-area: volume-btn;
        }
        &__item:nth-child(5) {
            grid-area: screen-btn;
        }
        &__item:nth-child(6) {
            grid-area: settings;
        }
        &__item:nth-child(7) {
            grid-area: pip;
        }
    }
}