@use './global' as *;
/* ==========================================================================
   #FONTS
   ========================================================================== */

/* Family */

$font: $brand-font;

/* Size */

$font-size-h1: 2rem; /* 32 / 16 */
$font-size-h2: 1.75rem; /* 28 / 16 */
$font-size-h3: 1.5rem; /* 24 / 16 */
$font-size-h4: 1.25rem; /* 20 / 16 */
$font-size-h5: 1.125rem; /* 18 / 16 */
$font-size-h6: 1rem; /* 16 / 16 */

/* Weight */

$weight-lightest: 100;
$weight-lighter: 200;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-bolder: 800;
$weight-boldest: 900;
