/* ==========================================================================
   #GLOBAL
   ========================================================================== */

/* #BRAND
   ========================================================================== */

/* Font */

$brand-font: 'Poppins', sans-serif;
// $brand-font-secondary: Montserrat, sans-serif;

/* #BASE
   ========================================================================== */

/* Font */

$base-font-size: 1rem;
$base-line-height: 1.5;

/* Spacing */
$spacing-base: 1rem;

$spacing-xs: 0.25 * $spacing-base; // 0.25rem = 4px / 16
$spacing-sm: 0.5 * $spacing-base; // 0.5rem = 8px / 16
$spacing-md: 1 * $spacing-base; // 1rem = 16px / 16
$spacing-lg: 1.5 * $spacing-base; // 1.5rem = 24px / 16
$spacing-xl: 2 * $spacing-base; // 2rem = 32px / 16

/* Borders */
$base-border-width: 0.125em;
$base-border-width-small: 0.0625em;
$base-border-radius-large: 0.25em;
$base-border-radius: 0.125em;
$base-border-radius-small: 0.0625em;
$base-border-medium: 0.1875rem;

/* Borders Cards */
$base-border-card-blur: 0em;
$base-border-card-spread: 0em;

/* Shadows */

$base-box-shadow: 0 0 1em rgba(34, 34, 34, 0.125);
$base-box-shadow-inset: 0 0 0.25em rgba(34, 34, 34, 0.125) inset;
$base-box-shadow-error: 0 0 0.5em rgba(255, 65, 54, 0.25);
$base-box-shadow-highlight: 0 0 0.5em rgba(0, 169, 151, 0.25);

// Navbar
$navbar-mobile-height: 3.75rem;
$navbar-desktop-height: 6.25rem;

// Footer
$footer-mobile-height: 7rem;
$footer-tablet-height: 5rem;
$footer-desktop-height: 7rem;
