/* ==========================================================================
   #RESPONSIVE
   ========================================================================== */

/* Breakpoints */

$bp-fold: 17.5rem; // 280px / 16
$bp-phone: 21.875rem; // 350px / 16
$bp-phoneXL: 30.625rem; // 490px / 16
$bp-tablet: 48rem; // 768px / 16
$bp-desktop: 64rem; // 1024px / 16
$bp-desktopXL: 75rem; // 1200px / 16
$bp-desktopXXL: 120rem; // 1920px / 16
