//sizes
$fold: 280px;
$phone: 350px;
$phoneXL: 490px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1200px;
$desktopXXL: 2000px;
//colors
$blue: #0032ab;
$bright-blue: #006ec7;
$aqua-blue: #1b90c7;
$green-blue: #00535e;
$light-blue: #00a7de;
$turquoise-blue: #0169a0;
$sky-blue: #78b3df;
$bluish-green: #0169a0;
$charcoal: #413d3e;
$light-gray: #f3f3f3;
$gray: #8a8a8a;
$white: #ffffff;
$black: #151515;
$error: #f48080;
//heights
$mobile-height: 60px;
$desktop-height: 80px;
//fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Nunito Sans', sans-serif;
